* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* width: 100%; */
    /* height: 100vh; */
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    background: #ffffff;
}
.Main-Container{
/* height: 100vh; */
}
.hide {
    display: none;
}

.show {
    display: block;
}

.navbar,
.aside,
.root {
    background: #ffffff;
}


/********* Navbar  Section ***********/
.navbar {
    /* position: sticky; */
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #e4e6ea;
}

.softwareName {
    display: flex;
}

.searchimage1 {
    height: 23px;
    width: 23px;
    position: absolute;
    top: 13px;
    right: 210px;
}

.createBtn {
    padding: 5px;
    width: 60px;
    border: none;
    color: white;
    background: blue;
    border-radius: 5px;
}

.inputFirst {
    padding: 4px;
    outline: none;
}

.upgrade1 {
    margin-left: 30px;
    width: 100px;
    background: white;
    border: 1px solid blue;
    padding: 8px;
    border-radius: 5px;
    color: blue;
}

.first-navbar {
    gap: 4px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.first-navbar>div {
    padding: 4px;
    color: rgb(58, 22, 22);
    display: flex;
    font-size: 14px;
    justify-content: start;
    align-items: center;
}

.nav1 {
    color: black;
    font-weight: 400;
    font: bold;
    font-size: 12px;
}

.nav1:hover {
    font-weight: 600;
    color: blue;
    margin-top: 15px;
    border-bottom: 3px solid blue;
}

.logo {
    width: 33px;
    height: 30px;
}

.jiralogo {
    width: 30px;
    height: 25px;
}

.dropimage {
    width: 16px;
    height: 15px;
}

#search {
    width: 200%;
    padding: 5px;
    outline: none;
}

#create {
    width: 200px;
    padding: 5px;
}


/************* To ASIDE SECTION***********/
.aside {
    z-index: -1;
    margin-left: 10px;
    gap: 10px;
    width: 240px;
    /* height: 100%; */
    padding: 2px;
    color: black;
    position: absolute;
    display: flex;
    padding-top: 50px;
    align-items: 10px;
    justify-content: start;
    flex-direction: column;
    border-right: 3px solid #e4e6ea;
}

.aside:hover {
    z-index: 1;
    border-right: 3px solid blue;
}

.learn {
    font-size: 14px;
    font-weight: 500;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.code {
    margin-bottom: 5px;
    width: 100%;
    border-bottom: 3px solid #e4e6ea;
}

.code:hover {
    /* color: blue; */
    border-bottom: 2px solid blue;
}

.paragraph {
    font-size: 10px;
    width: 230px;
    margin-top: 100px;
    text-align: center;
}

.p {
    font-size: 13px;
}

.imgep {
    width: 30px;
    height: 30px;
}

.setting {
    margin-left: 5px;
}

.proSetting,
.addsetting {
    margin-left: 10px;
}

.proSetting {
    margin-top: 20px;
}

.planB,
.plan {
    font-size: 15px;
    font-weight: 500;
}

.plan,
.myFirstApp {
    margin-left: 15px;
}

.projectSetting {
    display: flex;
    gap: 20px;
}

.second-navebar-insecond {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.myFirstApp {
    display: flex;
}


/******** to add Above Container of To do OR To done **********/
.firstbar {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    margin-left: 300px;
    font-size: 14px
}

.Others12 {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 300px;
    margin-top: 20px;
    gap: 670px;
    text-transform: capitalize;
}

.allimages {
    display: flex;
    gap: 10px;
}

.thirdbar {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 300px;
    gap: 475px;
    margin-top: 40px;
}

.profile {
    display: flex;
    font-size: 14px;
}

.secondProfile {
    font-size: 14px;
    display: flex;
    gap: 10px;
}

.Epic {
    display: flex;
}

.inputInprofile {
    width: 120px;
    padding: 10px;
    outline: none;
}

.searchimage {
    position: absolute;
    top: 220px;
    left: 380px;
}


/************* to Four Section **************/
.tododoneContainer {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 300px;
    gap: 15px;
}

.tododoneContainer>div {
    width: 255px;
    padding: 13px;
    font-size: 14px;
    border-radius: 5px;
    background: #f7f8f9;
    font-weight: 400;
    margin-top: 25px;
}

#PlusContainer {
    padding: 9px;
    width: 50px;
    text-align: center;
    font-size: 20px;
}

.root {
    margin-top: 30px;
    margin-left: 300px;
    /* width: 100%; */
    /* height: 100vh; */
    background-color: #ffffff;
    display: flex;
    gap: 1rem;
}

.container {
    width: 255px;
    height: 250px;
    background-color: #f7f8f9;
    border-radius: 5px;
    padding: 10px;
    overflow: scroll;
}

.firstbtn:hover {
    height: 45px;
    background: rgb(222, 241, 243);
    width: 100%;
    text-align: start;
    padding: 10px;
    padding-left: 10px;
}

::-webkit-scrollbar {
    display: none;
}

.btn {
    height: 20px;
    margin-top: 0px;
    outline: none;
    border: 1px solid aliceblue;
    width: 50%;
    font-size: 18px;
    border-radius: 10px;
    background-color: aliceblue;
    margin-bottom: 1rem;
}

#issue {
    outline: none;
    text-align: start;
    margin-top: 0px;
    width: 100%;
    height: 100px;
    padding: 0px 0px 50px 10px;
    border: none;
}

.child-card {
    word-break: break-all;
    width: 100%;
    display: flex;
    align-items: center;
    height: auto;
}


/********* Quickstart bittton  *************/
.quickstart {
    width: 20px;
    height: 20px;
}

.quickstart1 {
    width: 20px;
    height: 20px;
}

.quickstart1:hover {
    background: white;
    width: 25px;
    height: 25px;
}

.Quickbutton {
    position: absolute;
    right: 50px;
    top: 580px;
}

.lastbutton {
    background: rgb(125, 62, 197);
    padding: 15px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.quickdiv {
    font-weight: 700;
    color: #ffffff;
    font-size: 15px;
}


/********** TO Fotter  ************/
.attribution {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 50%;
    margin: 0;
    margin-left: 380px;
    text-align: center;
    color: #e08104;
    font-size: 14px;
    padding: 10px;
    border-radius: 20px 20px 0px 0px;
}