* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    background: #ffffff;
    height: 100vh;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.navbar,
.aside,
.root {
    background: #ffffff;
}

.close {
    display: none;
}

/***************************************** Navbar  Section *********************************************/
.navbar {
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #e4e6ea;
}

.softwareName {
    display: flex;
}

.searchimage1 {
    height: 23px;
    width: 23px;
    position: absolute;
    top: 13px;
    right: 210px;
}

.createBtn {
    padding: 5px;
    width: 60px;
    border: none;
    color: white;
    background: blue;
    border-radius: 5px;
}

.inputFirst {
    padding: 4px;
    outline: none;
}

.upgrade1 {
    margin-left: 30px;
    width: 100px;
    background: white;
    border: 1px solid blue;
    padding: 8px;
    border-radius: 5px;
    color: blue;
}

.first-navbar {
    gap: 4px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.first-navbar>div {
    padding: 4px;
    color: rgb(58, 22, 22);
    display: flex;
    font-size: 14px;
    justify-content: start;
    align-items: center;
}

.nav1 {
    color: black;
    font-weight: 400;
    font: bold;
    font-size: 12px;
}

.logo {
    width: 33px;
    height: 30px;
}

.jiralogo {
    width: 30px;
    height: 25px;
}

.dropimage {
    width: 16px;
    height: 15px;
}

#search {
    width: 200%;
    padding: 5px;
    outline: none;
}

#create {
    width: 200px;
    padding: 5px;
}

.imageforinfo:hover {
    border: 1px solid rgb(82, 82, 83);
    border-radius: 100%;
    background: rgb(179, 147, 147);
}

/************ setting popUp **************/
.Mail {
    z-index: 5;
    border: 2px solid rgb(47, 0, 255);
    height: 580px;
    width: 350px;
    margin-left: 990px;
    background: white;
    border-radius: 5px 0px 0px 5px;
}

.EmailSetup {
    color: black;
    background-color: white;
    font-size: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.times {
    color: red;
    width: 20px;
    height: 20px;
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    right: 25px;
    top: 70px;
}

.Displau-flex {
    display: flex;
    justify-content: space-around;
    gap: 25px;
}

.Displau-flex div p {
    font-size: 12px;
}

/************ for profile popUp ****************/
.profileofdevi {
    height: 600px;
    z-index: 5;
    border: 2px solid rgb(18, 101, 224);
    background: white;
    padding: 18px;
    border-radius: 5px 0px 0px 5px;
    margin-left: 1010px;
}

.profilePopUP {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 18px;


}

.NameOfprofile {
    display: flex;
    gap: 10px;
}

.horizontalLine {
    height: 4px;
    background: rgb(107, 112, 124);
}

.ActBtn {
    color: white;
    background-color: blue;
    border: none;
    padding: 3px;
    margin-bottom: 10px;
    border-radius: 2px;
}

.theme {
    display: flex;
    gap: 215px;
}

.themebtn {
    transform: rotate(-90deg);
}

.CloseProfile {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 25px;
    top: 65px;
    font-size: 16px;
    color: red;
}

/************ for Qeustion Mark pop Up **********/
.qestionsMark {
    height: 650px;
    z-index: 5;
    border: 2px solid rgb(18, 101, 224);
    background: white;
    padding: 18px;
    border-radius: 5px 0px 0px 5px;
    margin-left: 1010px;
}

.qeustion {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}

.help {
    text-align: center;
    font-size: 20px;
}

.articles {
    width: 290px;
    padding: 10px;
    outline: none;
    border: 2px solid rgb(86, 86, 112);
}

.jiraQuerry {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    font-size: 15px;

}

.close1 {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 25px;
    top: 65px;
    font-size: 16px;
    color: red;
}

.searcj {
    position: absolute;
    right: 40px;
    top: 102px;
    position: fixed;
}

/******* Bail SEction PopUP ******/
.NotificationContainer {
    height: 650px;
    z-index: 5;
    border: 2px solid rgb(18, 101, 224);
    background: white;
    padding: 18px;
    border-radius: 5px 0px 0px 5px;
    margin-left: 920px;
}

.noteHead {
    display: flex;
    justify-content: start;
    gap: 20px;
}

.sidebar {
    padding-top: 20px;
    display: flex;
    justify-content: start;
}

.secondbar {
    display: flex;
    justify-content: start;
    gap: 20px;
}

.notigicationImage {
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 50px;
}

.lastInput {
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
}

.heakerLine {
    margin-top: 10px;
    height: 4px;
    background-color: black;
}

.sidebar div>P {
    font-size: 13px;
}


/************************************ To ASIDE SECTION***********************************/
.aside {
    z-index: 1;
    padding-left: 10px;
    gap: 10px;
    width: 240px;
    color: black;
    position: absolute;
    display: flex;
    /* padding-top: 50px; */
    align-items: 10px;
    justify-content: start;
    flex-direction: column;
    border-right: 3px solid #e4e6ea;
    height: 580px;
}

.aside:hover {
    z-index: 1;
    border-right: 3px solid blue;
}

.learn {
    font-size: 14px;
    font-weight: 500;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.code {
    margin-bottom: 5px;
    width: 100%;
    border-bottom: 3px solid #e4e6ea;
}

.code:hover {
    width: 100%;
    border-bottom: 3px solid blue;
}

.paragraph {
    font-size: 10px;
    width: 230px;
    margin-top: 100px;
    text-align: center;
}

.p {
    font-size: 13px;
}

.imgep {
    width: 30px;
    height: 30px;
}

.setting {
    margin-left: 5px;
}

.proSetting,
.addsetting {
    margin-left: 10px;
}

.proSetting {
    margin-top: 20px;
}

.planB,
.plan {
    font-size: 15px;
    font-weight: 500;
}

.plan,
.myFirstApp {
    margin-left: 15px;
}

.projectSetting {
    display: flex;
    gap: 20px;
}

.second-navebar-insecond {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.myFirstApp {
    display: flex;
}

.hover:hover {
    background-color: rgb(238, 220, 220);
    border-radius: 5px;
    padding: 8px;
    width: 150px;
}

#hide-btn {
    z-index: 1;
    position: absolute;
    left: 225px;
    border-radius: 5px;
    top: 49px;
    border: 2px solid blue;
    transform: rotate(450deg);
}

#hide-btn:hover {
    border: 2px solid red;
}

.Color {
    display: hide;
}

#dropbtn {
    border-radius: 50%;
}

/******************************** to add Above Container of To do OR To done *************************************/
.firstbar {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    margin-left: 300px;
    font-size: 14px
}

.Others12 {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 300px;
    margin-top: 10px;
    gap: 670px;
    text-transform: capitalize;
}

.allimages {
    display: flex;
    gap: 10px;
}

.thirdbar {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 300px;
    gap: 475px;
    margin-top: 10px;
}

.profile {
    display: flex;
    font-size: 14px;
}

.secondProfile {
    font-size: 14px;
    display: flex;
    gap: 10px;
}

.Epic {
    display: flex;
}

.inputInprofile {
    width: 120px;
    padding: 10px;
    outline: none;
}

.searchimage {
    position: absolute;
    top: 179px;
    left: 390px;
}


/******************************************** to Four & Done Section *****************************************/
.tododoneContainer {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 300px;
    gap: 15px;
}

.tododoneContainer>div {
    width: 255px;
    padding: 13px;
    font-size: 14px;
    border-radius: 5px;
    background: #f7f8f9;
    font-weight: 400;
    margin-top: 25px;
}

#PlusContainer {
    padding: 9px;
    width: 50px;
    text-align: center;
    font-size: 20px;
}

.root {
    margin-top: 20px;
    margin-left: 300px;
    background-color: #ffffff;
    display: flex;
    position: relative;
    gap: 1rem;
}

.container {
    width: 255px;
    height: 200px;
   /* position: absolute; */
    background-color: #f7f8f9;
    border-radius: 5px;
    padding: 10px;
    /* flex-wrap: nowrap; */
    /* overflow: scroll; */
}

.firstbtn:hover {
    height: 45px;
    background: rgb(222, 241, 243);
    width: 100%;
    text-align: start;
    padding: 10px;
    padding-left: 10px;
}


/* ::-webkit-scrollbar {
    display: none;
} */

.btn {
    height: 45px;
    margin-top: 0px;
    outline: none;
    border: 1px solid aliceblue;
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    background-color: rgb(230, 238, 245);
    margin-bottom: 1rem;
}

#issue {
    outline: none;
    text-align: start;
    margin-top: 0px;
    width: 100%;
    height: 100px;
    padding: 0px 0px 50px 10px;
    border: none;
}

.child-card {
    word-break: break-all;
    width: 100%;
    display: flex;
    align-items: center;
    height: auto;
}

.move {
    position: absolute;
    right: 0px;
    left: 1080px;
    margin-left: 20px;
}

.ScrollThis-Container {
    height: 500px;
}

.MoveThisSection {
 
 overflow-x: scroll;
 overflow-y: hidden;
    border:1px solid rgb(192, 171, 171);
   
}

.foursection {
    overflow-x: scroll;
}

/********************************** Quickstart bittton  ***************************************/
.quickstart {
    width: 20px;
    height: 20px;
}

.quickstart1 {
    width: 20px;
    height: 20px;
}

.quickstart1:hover {
    background: white;
    width: 20px;
    height: 20px;
}

.Quickbutton {
    position: absolute;
    right: 80px;
    top: 580px;
}

.lastbutton {
    background: rgb(125, 62, 197);
    padding: 10px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.quickdiv {
    font-weight: 700;
    color: #ffffff;
    font-size: 15px;
}


/*********************************** TO Fotter  ********************************/
.attribution {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 50%;
    margin: 0;
    margin-left: 380px;
    text-align: center;
    color: #e08104;
    font-size: 14px;
    padding: 10px;
    border-radius: 20px 20px 0px 0px;
}


/************************************ to drop down buton ************************************/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 5;
    right: 0px;
    margin-top: 10px;
}

.dropdown-content a {
    color: rgb(97, 94, 94);
    padding: 12px 20px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown-content a:hover {
    background-color: #eee1e1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0px;
}

.dropdown-content1 a {
    color: rgb(97, 94, 94);
    padding: 12px 20px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown-content1 a:hover {
    background-color: #eee1e1
}

.dropdown:hover .dropdown-content1 {
    display: block;
}

.dropimage1 {
    width: 16px;
    height: 15px;
    transform: rotate(265deg);
}

/* for email */
.Ncontainer:hover {
    border: 2px solid red;
}


/******************* to create pop up ***************/
.Create {
    top: 20px;
    width: 500px;
    position: absolute;
    height: 600px;
    z-index: 4;
    left: 400px;
    border: 1px solid rgb(57, 63, 73);
    background: white;
    padding: 20px;
    font-size: 15px;
}

.createForButton {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 15px;
}

.Alfhabet {
    display: flex;
}

.firstBar {
    border: 1px solid rgb(216, 192, 192);
    display: flex;
    gap: 240px;
    padding: 10px;
}

.newtask {
    display: flex;
    gap: 20px;
}

.allicon {
    display: flex;
    gap: 20px;
}

.secondBar {
    display: flex;
    flex-direction: column;
}

.Project01 {
    display: flex;
    gap: 140px;
    border: 1px solid rgb(71, 67, 67);
    padding: 10px;
}

.Kanban1 {
    display: flex;
    gap: 10px;

}

.thirdBar {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.task1 {
    display: flex;
    gap: 10px;
    border: 1px solid rgb(73, 69, 69);
    padding: 10px;
    width: 220px;
}

.task2 {
    border: 1px solid rgb(68, 59, 59);
    display: flex;
    gap: 135px;
    padding: 10px;
    width: 220px;
}

.input2 {
    width: 460px;
    outline: none;
    padding: 15px;
}

.Alfhabet {
    display: flex;
    gap: 50px;
    border: 1px solid rgb(93, 93, 116);
    padding: 10px;
}

.Alfhabet div {
    border: 1px solid rgb(46, 46, 65);
    padding: 10px;
    width: 60px;

}

.Alfhabet div>img {
    font-size: 40px;
}

.SixthBar {
    padding: 10px;
    border: 1px solid rgb(73, 67, 67);
    display: flex;
    gap: 15px;
}

.createAnother {
    display: flex;
    gap: 100px;
}

.task512 {
    display: flex;
    gap: 128px;
}

.creat223 {
    width: 140px;
    padding: 7px;
    color: rgb(245, 245, 245);
    background: rgb(202, 93, 224);
    outline: none;
    border: none;

}

.creat223:hover {
    background: blue;
    border-radius: 5px;
}

.OPPopUp {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    width:100%;
    left: 0px;
}

/*********** For the Upgrade button ********/
.UpgradeContainer{
    z-index: 5;

}
.upgrade {
    display: flex;
    justify-content: center;
    border: 1px solid rgb(187, 172, 172);
    gap: 20px;
    background: white;
    width: 730px;
    height: 602px;
    margin-right: 1220px;
    font-size: 14px;
}

.userandteam {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 1px solid rgb(247, 247, 247);
    width: 415px;
    height: 280px;
    border-radius: 10px;
    background-color: #f1efef;
    padding: 25px;
}

.userflex {
    display: flex;
    gap: 7px;
}

.userflex div {
    text-align: center;
    padding: 5px;
    border: 1px solid blue;
    border-radius: 50%;
}
.UpgradeRightSidebar{
    display: flex;
    flex-direction: column;
    gap:5px ;
    padding: 20px;
    padding-right: 40px;
}
.hideen{
    width: 350px;
    border: 1px solid rgb(218, 212, 212);
    border-radius: 20px;
    padding: 10px;
}
.closeUpgarde{
    position: absolute;
    top: 10px;
    right: 310px;
    font-size: 35px;
    color: red;
}
.imgeofUPgrade{
    height: 600px;
}
.btnContainer{
    display: flex;
    justify-content: end;
    gap: 10px;
}
.MaybeButyon1{
    padding: 8px;
    width: 120px;
    background: blue;
    border-radius: 5px;
    color: white;
    border: none;
}
.MaybeButyon2{
    padding: 8px;
    width: 120px;
}